body {
  background: rgb(51, 51, 51);
  background: linear-gradient(
    180deg,
    rgba(51, 51, 51, 1) 10%,
    rgba(0, 0, 0, 1) 100%
  );
}

.navbar {
  font-size: 1em !important;
  color: #000 !important;
  font-family: "Montserrat", sans-serif !important;
}
